# In version 6.5.0 host.socket.get_listening_sockets() fails on Ubuntu Bionic
# with some weird internal error
ansible
ansible-lint
apacheconfig
colorama
humanfriendly
invoke
jinja2
jmespath
molecule-docker
molecule-lxd
molecule-vagrant
molecule[ansible]
pylint
pytest
pytest-testinfra == 6.4.0
pywinrm
