ansible
pywinrm
ansible-lint
molecule[ansible]
molecule-docker
molecule-lxd
molecule-vagrant
pytest
# In version 6.5.0 host.socket.get_listening_sockets() fails on Ubuntu Bionic
# with some weird internal error
pytest-testinfra == 6.4.0
invoke
colorama
apacheconfig
jinja2
humanfriendly
