# This file is NOT updated automatically by Ansible
# Latest version is at:
# https://github.com/cheretbe/ansible-playbooks/blob/master/nagios-client/templates/etc_nagios_nrpe_d_ansible_custom_cfg.j2

command[check_root]=/usr/lib/nagios/plugins/check_disk -w 20% -c 10% -p /
command[check_swap]=/usr/lib/nagios/plugins/check_swap -w 20 -c 10
command[check_nagios_plugins_update_status]=/var/lib/nagios/nagios-plugins/check_status_file/check_status_file.py /var/lib/nagios/plugins_update_status
command[check_unattended_upgrades]=/var/lib/nagios/nagios-plugins/check_ubuntu_unattended_upgrades/unattended_upgrades.py
command[check_smart]=/var/lib/nagios/nagios-plugins/check_smart/check_smart.pl -g "/dev/sd[a-z]" -i auto
command[check_zfs_pools]=sudo /var/lib/nagios/nagios-plugins/check_zpools/check_zpools.sh -p ALL -w 80 -c 90
command[check_sanoid_snapshots]=/usr/bin/sudo /opt/sanoid/sanoid --monitor-snapshots
command[check_sanoid_health]=/usr/bin/sudo /opt/sanoid/sanoid --monitor-health
